.navbar {
  background-color: #2f365f;
}

.navbar a {
  color: white;
}

#conectate-img {
  height: 35px;
  padding-left: 0.5rem;
}

.icon-nav {
  height: 20px;
  width: 20px;
}

li a {
  margin-right: 0.8rem;
}

#foto {
  height: 35px;
  width: 35px;
  display: block;
  border-radius: 50%;
  background-size: contain;
}

.barar .course-title {
  margin-top: 15px;
}

.barar .course-bar {
  margin-top: 5px;
}

.chart-container {
  width: 250px;
  height: 160px;
  margin-top: 0px;
  padding-top: 0px;
}

.card {
  width: 325px;
  height: 220px;
}

.card-body {
  margin-top: 0px;
  padding-top: 20px;
}

.card p {
  margin-bottom: 0px;
}

#overview-control {
  margin-left: 120px;
  margin-right: 20px;
}

#overview-dashboard {
  margin-left: 120px;
  margin-right: 20px;
}

#overview-tasks {
  margin-left: 20px;
  margin-right: 10px;
}

body {
  overflow-x: hidden;
}

.table td {
  text-align: center;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

a:hover {
  text-decoration: none;
  color: black;
}

#btn-summary:hover {
  border-bottom-style: solid;
  border-bottom-color: #3d5a5b;
}

#btn-activity {
  border-bottom-style: solid;
  border-bottom-color: #febe80;
}
