.navbar {
  background-color: #2f365f;
}

.navbar a {
  color: white;
}

/*TAREA LECCION*/
.tareaLeccion {
  display: inline;
}
/*ESQUINAS REDONDAS*/
#esquinasRedondas {
  border-radius: 25px;
}

/*HOVER RECURSOS DENTRO DE MODAL*/
a[id="hoverTareas"]:hover {
  text-decoration: underline;
}

#conectate-img {
  height: 35px;
  padding-left: 0.5rem;
}

.icon-nav {
  height: 20px;
  width: 20px;
}

li a {
  margin-right: 0.8rem;
}

#foto {
  height: 35px;
  width: 35px;
  display: block;
  border-radius: 50%;
  background-size: contain;
}

.barar .course-title {
  margin-top: 15px;
}

.barar .course-bar {
  margin-top: 5px;
}

.chart-container {
  width: 280px;
  height: 160px;
  margin-top: 0px;
  padding-top: 0px;
}

.card {
  width: 330px;
  height: 220px;
}

.card-body {
  margin-top: 0px;
  padding-top: 20px;
}

.card p {
  margin-bottom: 0px;
}

#overview-control {
  margin-left: 120px;
  margin-right: 20px;
}

#overview-dashboard {
  margin-left: 120px;
  margin-right: 20px;
}

#overview-tasks {
  margin-left: 20px;
  margin-right: 10px;
}

body {
  overflow-x: hidden;
}

.table td {
  text-align: center;
}

#btn-summary {
  border-bottom-style: solid;
  border-bottom-color: #febe80;
}

#btn-activity:hover {
  border-bottom-style: solid;
  border-bottom-color: #3d5a5b;
}

th {
  text-align: center !important;
}

td {
  vertical-align: middle !important;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px;
  padding: 0px;
}

.avatar-container {
  padding: 0px !important;
  vertical-align: middle !important;
}

.badge {
  font-size: 15px !important;
}

a:hover {
  text-decoration: none;
}
