html{
    overflow-x: hidden;
}
.nav-tabs .nav-item{
    width: 200px;
    text-align: center;
}

.profile-banner{
    padding-top: 15vh;
    padding-bottom: 200px;
    text-align: center;
}
#profile{
    margin-left: 5vh;
    border-radius: 50%;
}
#profile-picture{
    height: 300px;
    border-radius: 100%;
    cursor: pointer;
}
#profile:hover #profile-picture{
    filter: blur(3px);
    transition-duration: 0.2s;
}
#hoverprofile{
    visibility: hidden;
    position: absolute;
    font-size: 30px;
    margin-top: 120px;
    left:20%;
    right:30%;
    margin-left: 10vh;
    font-weight: 200;
}
#profile:hover #hoverprofile{
    visibility: visible !important;
}
.profile-banner span{
    font-size: 30px;
    margin-left: 10%;
}

.profile-banner .subtext{
    font-size: 20px;
    color:rgb(153,153,153); 
}
.card{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 4rem;
}

h1{
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 8.5%;
}

.input-text{
    width: 10rem;
}

.input-group{
    margin-top: 2rem;
}

.settings{
    background-color: rgb(240, 240, 240);
    height: 100vh;
}

.btn-success{
    float:right;
    margin-right: 8.5%;
    margin-top: 20px;
}