.navbar {
  background-color: #2f365f;
}

.navbar a {
  color: white;
}

#conectate-img {
  height: 35px;
  padding-left: 0.5rem;
}

.icon-nav {
  height: 20px;
  width: 20px;
}

li a {
  margin-right: 0.8rem;
}

#foto {
  height: 35px;
  width: 35px;
  display: block;
  border-radius: 50%;
  background-size: contain;
}

.barar .course-title {
  margin-top: 15px;
}

.barar .course-bar {
  margin-top: 5px;
}
